nav{
  background-color: pink;
  width: 300px;
  height:100%;

  position: fixed; top: 0px; left: 0px;

}
#text-service{font-size: 20pt}
#three{}
main{
color: white
: 300px;
margin-left: 300px
}
h3{font-size: 18pt; margin-left: 100px; bottom: 500px;

}
#service-3{margin-left: 300px}
h1{text-align: center; border-style: dotted; margin-left: 300px}
h2{ text-align: center; font-size: 12pt; margin-left: 300px}
#Contact{background-color: black}
#About{background-color: black}
#Services{background-color: black}
form{color: white
: 300px;
margin-left: 500px; margin-top: 50px
}
#contact-page{margin-left: 350px}
.site-info{
margin: 2em 2em 2em 2em;
text-align: center;
font-size: 18pt;
text-align: center;
}

.logo{background: #fff; width: 150px; height: 150px;
  margin: auto;
border: ;
border-radius: 100%;
line-height: 150px

}
h5{font-size: 17pt}
.container {
background-color: white;
width: 1500px;
margin: auto;
padding: 20px;
border:  3px solid black;
}

.site-links a{
  display: block;
  font-size: 18pt;
  text-align: center;
}
a:hover {
  color: white;
}
.dot{
  height: 150px;
  width: 150px;
  background-color: #bbb;
  border-radius: 70%;
  display: inline-block;
  margin-left: 75px;
  margin-top: 50px
}
h4{margin-left: 130px; margin-top: -86px; font-size: 15pt; font-style: italic;}
#text{background-color: black; width: 200px; height: 200px; margin-left: 60px; font-style: italic; color: white; margin-top: 300px}
